/ {
	zephyr,user {
		digital-pin-gpios =	<&arduino_header 6 GPIO_ACTIVE_HIGH>,
						<&arduino_header 7 GPIO_ACTIVE_HIGH>,
						<&arduino_header 8 GPIO_ACTIVE_HIGH>,
						<&arduino_header 9 GPIO_ACTIVE_HIGH>,
						<&arduino_header 10 GPIO_ACTIVE_HIGH>,
						<&arduino_header 11 GPIO_ACTIVE_HIGH>,
						<&arduino_header 12 GPIO_ACTIVE_HIGH>,
						<&arduino_header 13 GPIO_ACTIVE_HIGH>,
						<&arduino_header 14 GPIO_ACTIVE_HIGH>,
						<&arduino_header 15 GPIO_ACTIVE_HIGH>,
						<&arduino_header 16 GPIO_ACTIVE_HIGH>,
						<&arduino_header 17 GPIO_ACTIVE_HIGH>,
						<&arduino_header 18 GPIO_ACTIVE_HIGH>,
						<&arduino_header 19 GPIO_ACTIVE_HIGH>,
						<&arduino_header 20 GPIO_ACTIVE_HIGH>,
						<&arduino_header 21 GPIO_ACTIVE_HIGH>,
						<&gpio0 23 GPIO_ACTIVE_HIGH>;

		serials = <&uart0>;
		i2cs = <&i2c0>;
		spis = <&spi0>;
	};
};
